.vscode/
outputs/
bin/
latex/
html/
inputs/distance
inputs/mesh/Mesh_3x90_r.mesh
inputs/mesh/Mesh_40x60_F00.mesh
inputs/mesh/Mesh_40x60x3_3D_disk_full.mesh
inputs/mesh/disk_Mesh_80x80x6.mesh
inputs/Full_Cell_Disk.m

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
